{% load static %}
<!DOCTYPE html>
{% load staticfiles %}
<html lang="">
<meta charset="UTF-8">
<title>Rango</title>
<body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{  This tutorial has been put together by JIARUI CHEN  }</strong> <br />
        </div>
        <div>
            <a href="/rango/about/">About</a><br />

            <img src="{% get_media_prefix %}cat.jpg"
                 alt="Picture of Cat" />

        </div>
    </body>
</html>
